footer#footer.footer-hover-links-light.mt-0
  .container.container-xl
    .row
      .col-lg-3.mb-4.mb-lg-0
        a.logo(href='/')
          img.img-fluid.mb-4.pb-2(alt='Å1 Vital' src='img/mandala.png')
        ul.list.list-unstyled
          //li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Address:
            |  51 Tregunter Road, London, SW10 9LG, UK
          //li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Phone:
            a(href='tel:+1234567890') (123) 456-7890
          li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Email:
            a.link-underline-light(href='mailto:info@a1vital.com') info@a1vital.com
      //.col-lg-3.mb-4.mb-lg-0
        h2.text-2.font-weight-semibold.mb-4 RECENT POSTS
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Phasellus blandit enim nullam id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 17, 2018
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Blandit massa enim id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 15, 2018
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Phasellus massa enim nullam id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 12, 2018
      //.col-lg-3.mb-4.mb-lg-0
        h2.text-2.font-weight-semibold.mb-4 LATEST TWEET
        #tweet.twitter(data-plugin-tweets='' data-plugin-options="{'username': '', 'count': 1}")
          p Please wait...
      //.col-lg-3
        h2.text-2.font-weight-semibold.mb-4 INSTAGRAM FEED
        #instafeedBasic
  .footer-copyright
    .container.container-xl
      .row.text-center.text-md-left.align-items-center
        .col-md-7.col-lg-8
          ul.social-icons.social-icons-transparent.social-icons-icon-light.social-icons-lg
            li.social-icons-facebook
              a(href='https://www.facebook.com/pg/a1vital.uk' target='_blank' title='Facebook')
                i.fab.fa-facebook-f
            li.social-icons-youtube
              a(href='https://www.youtube.com/channel/UC2dUky-yZIj1Y7E__rzlKPQ' target='_blank' title='Youtube')
                i.fab.fa-youtube
            li.social-icons-instagram
              a(href='http://www.instagram.com/a1vital.uk' target='_blank' title='Instagram')
                i.fab.fa-instagram
        .col-md-5.col-lg-4
          p.text-md-right.pb-0.mb-0 Copyrights &copy; 2019. All Rights Reserved by A1 Vital LTD
