footer#footer.footer-hover-links-light.mt-0
  .container.container-xl
    .row
      .col-lg-3.mb-4.mb-lg-0
        a.logo(href='index.html')
          img.img-fluid.mb-4.pb-2(alt='EZY Website Template' src='img/logo-footer.png')
        ul.list.list-unstyled
          li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Address:
            |  1234 Street Name, City Name, USA
          li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Phone:
            a(href='tel:+1234567890') (123) 456-7890
          li.mb-2
            i.fas.fa-angle-right.mr-2.ml-1
            span.text-color-light Email:
            a.link-underline-light(href='mailto:mail@example.com') mail@example.com
      .col-lg-3.mb-4.mb-lg-0
        h2.text-2.font-weight-semibold.mb-4 RECENT POSTS
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Phasellus blandit enim nullam id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 17, 2018
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Blandit massa enim id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 15, 2018
        .mb-3
          p.mb-2
            a.text-color-light-2(href='blog-single-post.html') Phasellus massa enim nullam id.
          a(href='blog-single-post.html')
            i.far.fa-clock
            |  Jan 12, 2018
      .col-lg-3.mb-4.mb-lg-0
        h2.text-2.font-weight-semibold.mb-4 LATEST TWEET
        #tweet.twitter(data-plugin-tweets='' data-plugin-options="{'username': '', 'count': 1}")
          p Please wait...
      .col-lg-3
        h2.text-2.font-weight-semibold.mb-4 INSTAGRAM FEED
        #instafeedBasic
  .footer-copyright
    .container.container-xl
      .row.text-center.text-md-left.align-items-center
        .col-md-7.col-lg-8
          ul.social-icons.social-icons-transparent.social-icons-icon-light.social-icons-lg
            li.social-icons-facebook
              a(href='http://www.facebook.com/' target='_blank' title='Facebook')
                i.fab.fa-facebook-f
            li.social-icons-twitter
              a(href='http://www.twitter.com/' target='_blank' title='Twitter')
                i.fab.fa-twitter
            li.social-icons-instagram
              a(href='http://www.instagram.com/' target='_blank' title='Instagram')
                i.fab.fa-instagram
        .col-md-5.col-lg-4
          p.text-md-right.pb-0.mb-0 Copyrights &copy; 2018. All Rights Reserved by Okler
