

// Root element of PhotoSwipe. Must have class pswp.
.pswp(tabindex='-1' role='dialog' aria-hidden='true')
  .pswp__bg
  // Slides wrapper with overflow:hidden.
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        // Controls are self-explanatory. Order can be changed.
        .pswp__counter
        button.pswp__button.pswp__button--close(title='Close (Esc)')
        button.pswp__button.pswp__button--share(title='Share')
        button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
        button.pswp__button.pswp__button--zoom(title='Zoom in/out')
        // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
        // element will get class pswp__preloader--active when preloader is running
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
        .pswp__share-tooltip
      button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
      button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
      .pswp__caption
        .pswp__caption__center

.container.mb-5.pb-3
  if slice.primary.gallery_title
    .row.mt-5
      .col-md-12
        h4.mb-4
          != PrismicDOM.RichText.asHtml(slice.primary.gallery_title, ctx.linkResolver)

  .row.demo-gallery.my-gallery(itemscope='' itemtype='http://schema.org/ImageGallery')
    each galleryItem in slice.items
      figure(itemprop='associatedMedia' itemscope='' itemtype='http://schema.org/ImageObject')
        a(href=galleryItem.image.url itemprop='contentUrl' data-height=galleryItem.image.dimensions.height data-width=galleryItem.image.dimensions.width)
          img(src=galleryItem.image.url width=300 itemprop='thumbnail' alt='Image description')
        if galleryItem.image_description != ""
          figcaption(itemprop='caption description')
            != PrismicDOM.RichText.asHtml(galleryItem.image_description)
