section.section
  .container.mb-lg-5
    .row.mb-4
      .col
        .overflow-hidden
          span.d-block.top-sub-title.text-color-primary.appear-animation(data-appear-animation='maskUp') GET IN TOUCH WITH US
        .overflow-hidden.mb-2
          h2.font-weight-bold.mb-0.appear-animation(data-appear-animation='maskUp' data-appear-animation-delay='200') Our Locations
    .row
      .col-sm-6.col-lg-3.mb-4.mb-lg-0.appear-animation(data-appear-animation='fadeInRightShorter' data-appear-animation-delay='400')
        span.top-sub-title USA
        h3.font-weight-bold.text-4 Los Angeles
        span.d-block 1234 Street Name, City Name
        a(href='mailto:example@domain.com') example@domain.com
        span.d-block.mb-3
          a(href='tel:+1234567890') (123) 456-7890
          |  - 
          a(href='tel:+1234567890') (123) 456-7890
        a.text-color-primary.font-weight-bold.learn-more(href='#' onclick="showDirectionOnMap('34.0247948', '-118.3543755', event)")
          | GET DIRECTIONS 
          i.fas.fa-angle-right
      .col-sm-6.col-lg-3.mb-4.mb-lg-0.appear-animation(data-appear-animation='fadeInRightShorter' data-appear-animation-delay='600')
        span.top-sub-title USA
        h3.font-weight-bold.text-4 New York
        span.d-block 1234 Street Name, City Name
        a(href='mailto:example@domain.com') example@domain.com
        span.d-block.mb-3
          a(href='tel:+1234567890') (123) 456-7890
          |  - 
          a(href='tel:+1234567890') (123) 456-7890
        a.text-color-primary.font-weight-bold.learn-more(href='#' onclick="showDirectionOnMap('40.75198', '-73.96978', event)")
          | GET DIRECTIONS 
          i.fas.fa-angle-right
      .col-sm-6.col-lg-3.mb-4.mb-sm-0.appear-animation(data-appear-animation='fadeInRightShorter' data-appear-animation-delay='800')
        span.top-sub-title BRAZIL
        h3.font-weight-bold.text-4 Rio de Janeiro
        span.d-block 1234 Street Name, City Name
        a(href='mailto:example@domain.com') example@domain.com
        span.d-block.mb-3
          a(href='tel:+1234567890') (123) 456-7890
          |  - 
          a(href='tel:+1234567890') (123) 456-7890
        a.text-color-primary.font-weight-bold.learn-more(href='#' onclick="showDirectionOnMap('-22.9843416', '-43.2069634', event)")
          | GET DIRECTIONS 
          i.fas.fa-angle-right
      .col-sm-6.col-lg-3.appear-animation(data-appear-animation='fadeInRightShorter' data-appear-animation-delay='1000')
        span.top-sub-title GERMANY
        h3.font-weight-bold.text-4 Munich
        span.d-block 1234 Street Name, City Name
        a(href='mailto:example@domain.com') example@domain.com
        span.d-block.mb-3
          a(href='tel:+1234567890') (123) 456-7890
          |  - 
          a(href='tel:+1234567890') (123) 456-7890
        a.text-color-primary.font-weight-bold.learn-more(href='#' onclick="showDirectionOnMap('48.1536012', '11.5226179', event)")
          | GET DIRECTIONS 
          i.fas.fa-angle-right
