header#header.header-effect-shrink(data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 120}")
  .header-body
    //- .header-top
      .header-top-container.container
        .header-row
          .header-column.justify-content-start
            span.d-none.d-sm-flex.align-items-center
              i.fas.fa-map-marker-alt.mr-1
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1234 Street Name, City Name
            span.d-none.d-sm-flex.align-items-center.ml-4
              i.fas.fa-phone.mr-1
              a(href='tel:+1234567890') 123-456-7890
          .header-column.justify-content-end
            ul.nav
              li.nav-item
                a.nav-link(href='contact-us-1.html') Contact Us
              li.nav-item
                a#dropdownLanguage.nav-link.dropdown-menu-toggle.py-2(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                  | English&#x9;
                  i.fas.fa-angle-down.fa-sm
                ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownLanguage')
                  li
                    a.no-skin(href='#')
                      img.flag.flag-us(src='img/blank.gif' alt='English')
                      |  English
                  li
                    a.no-skin(href='#')
                      img.flag.flag-es(src='img/blank.gif' alt='Español')
                      |  Espa&ntilde;ol
                  li
                    a.no-skin(href='#')
                      img.flag.flag-fr(src='img/blank.gif' alt='Française')
                      |  Fran&ccedil;aise
            ul.header-top-social-icons.social-icons.social-icons-transparent.d-none.d-md-block
              li.social-icons-facebook
                a(href='http://www.facebook.com/' target='_blank' title='Facebook')
                  i.fab.fa-facebook-f
              li.social-icons-twitter
                a(href='http://www.twitter.com/' target='_blank' title='Twitter')
                  i.fab.fa-twitter
              li.social-icons-instagram
                a(href='http://www.instagram.com/' target='_blank' title='Instragram')
                  i.fab.fa-instagram
    .header-container.container(style='height: 100px;')
      .header-row
        .header-column.justify-content-start
          .header-logo
            a(href='/')
              img(alt='A1 #{domainTitle}' width='48' height='48' src='img/mandala.png')
              span A1 #{domainTitle}
        .header-column.justify-content-end
          .header-nav.header-nav-light-dropdown
            .header-nav-main.header-nav-main-effect-1.header-nav-main-sub-effect-1
              nav.closed.collapse(style='')
                ul#mainNav.nav.flex-column.flex-lg-row
                  each slice in menuContent.data.nav
                    li.dropdown
                      a.dropdown-item.dropdown-toggle(href='#')
                        != Txt.asText(slice.primary.label)
                        i.menu-arrow
                      ul.dropdown-menu                
                        each item in slice.items
                          li
                            a.dropdown-item(href=Link.url(item.sub_nav_link, ctx.linkResolver))
                              != Txt.asText(item.sub_nav_link_label)
            .header-button.d-none.d-sm-flex.ml-3
              a.btn.btn-outline.btn-rounded.btn-primary.btn-4.btn-icon-effect-1(href='/membership' target='_blank')
                span.wrap
                  span MEMBERSHIP
                  i.fas.fa-clipboard-check
            button.header-btn-collapse-nav.ml-3.collapsed(data-toggle='collapse' data-target='.header-nav-main nav' aria-expanded='false')
              span.hamburguer
                span
                span
                span
              span.close
                span
                span
