section.page-header.py-3
  .container
    .row.align-items-center
      .col-md-8.text-left
        h1.font-weight-bold Hypnotherapy London
      .col-md-4
        ul.breadcrumb.justify-content-start.justify-content-md-end.mb-0
          li
            a(href='index.html') Home
          li.active Features
